@import url("https://fonts.googleapis.com/css2?family=Baskervville:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arsenal:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  overflow-x:hidden
}
*,
::before,
::after {
  border-width: 0;
}


.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  background: black;
padding: 3px;
}